# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class


# ==========================
# Virtual Environment
# ==========================

.venv/
venv/
env/


# ==========================
# Environment Variables
# ==========================

.env


# ==========================
# Django Database
# ==========================

db.sqlite3
db.sqlite3-journal


# ==========================
# Static Files
# ==========================

staticfiles/
media/


# ==========================
# Logs
# ==========================

*.log


# ==========================
# VS Code
# ==========================

.vscode/


# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db


# ==========================
# Python cache
# ==========================

.pytest_cache/
.mypy_cache/


# ==========================
# Build files
# ==========================

dist/
build/